{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
         "config": 'build/webpack.config.js'
      }
    }
  },
  "rules": {
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "react/self-closing-comp": ["error", {
        "component": true,
        "html": false
    }],
    "comma-dangle": ["error", "ignore"],
    "prefer-template": 0,
    'react/forbid-prop-types': ['error', { 'forbid': ['any'] }],
    "import/no-extraneous-dependencies": ["error", {'devDependencies': true}],
    "jsx-a11y/no-static-element-interactions": 0
  }
}
