@import '../styles/variables';

.uploader-tabs {
  text-align: center;
  border-bottom: 2px solid #ebebeb;

  .tab {
    position: relative;
    display: inline-block;
    padding: 16px 20px 15px;
    margin: 0 20px;
    color: grey;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.43;
  }

  .active {
    .tab {
      color: $gfycat_blue;
    }

    .tab::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -2px;
      background: $gfycat_blue;
    }
  }
}
