@mixin set_svg_bg($url) {
  background-image: url($url + '.svg');
}

.ic {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;

  @mixin social_logo_bg($type) {
    background-position: center;

    &.ic-logo-#{$type}.grey {
      @include set_svg_bg('../static/images/icons/ic_social/ic_social_#{$type}_grey');
    }
    &.ic-logo-#{$type}.blue {
      @include set_svg_bg('../static/images/icons/ic_social/ic_social_#{$type}_blue');
    }
  }

  &.ic-logo-fb {
    width: 9px;
    height: 20px;
    @include social_logo_bg('fb');
  }

  &.ic-logo-tw {
    width: 18px;
    height: 20px;

    @include social_logo_bg('tw');
  }

  &.ic-logo-inst {
    width: 20px;
    height: 20px;
    @include social_logo_bg('inst');
  }

  &.ic-logo-tmb {
    width: 10px;
    height: 20px;
    @include social_logo_bg('tmb');
  }

  &.ic-logo-pin {
    width: 16px;
    height: 20px;
    @include social_logo_bg('pin');
  }

  &.ic-logo-vk {
    width: 24px;
    height: 20px;
    @include social_logo_bg('vk');
  }

  &.ic-cloud-upload {
    width: 26px;
    height: 20px;
    background-size: 26px 20px;

    &.blue {
      @include set_svg_bg('../static/images/icons/ic_cloud_upload/ic_cloud_upload_blue');
    }
  }

  &.ic-gfycat-log-big {
    width: 99px;
    height: 27px;
    background-size: 99px 27px;

    &.blue {
      @include set_svg_bg('../static/images/icons/ic_gfycat_logo_big/ic_gfycat_logo_big_blue');
    }
  }

  &.ic-gfycat-logo-small {
    width: 27px;
    height: 27px;
    background-size: 27px;

    &.blue {
      @include set_svg_bg('../static/images/icons/ic_gfycat_logo_small/ic_gfycat_logo_small_blue');
    }
  }

  &.ic-ellipsis {
    width: 16px;
    height: 16px;
    background-size: 16px;

    &.blue {
      @include set_svg_bg('../static/images/icons/ic_ellipsis/ic_ellipsis_blue');
    }
  }

  &.ic-search {
    width: 20px;
    height: 20px;
    background-size: 20px;

    &.white {
      @include set_svg_bg('../static/images/icons/ic_search/ic_search_white');
    }
  }

  &.ic-guest-user {
    width: 24px;
    height: 24px;
    background-size: 24px;

    &.blue {
      @include set_svg_bg('../static/images/icons/ic_guest_user/ic_guest_user_blue');
    }
  }
}
