.modal-container2 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: pink;
}

.active {
  display: block;
}

.inactive {
  display: none;
}
