@import '../styles/variables';

.paste-url-container {
  margin-top: 20px;
  position: relative;

  .paste-url {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    border-radius: 10px;
    border: solid 2px #d8d8d8;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    color: #666666;

    &::placeholder {
      color: #666666;
    }

    &:active, &:focus {
      border-color: $gfycat_blue;
    }
  }

  .spinner {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 30px;
  }
}
