@import '../styles/variables';

.file-upload-container {
  margin-top: 30px;

  .file-upload {
    position: relative;
    height: 229px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px dashed #d8d8d8;
    cursor: pointer;

    &:hover {
      border-color: #2475ff;
    }

    .file-input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      top: 0;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  &.active {
    .file-upload {
      border-color: #2475ff;
    }
  }

  .ic-cloud-upload {
    width: 66px;
    height: 48px;
    background-size: 100%;
  }
  .choose-files-text {
    font-size: 16px;
    line-height: 1.4;
    color: #2475ff;
    margin: 10px auto;
  }
  .grag-and-grop-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #666666;
  }
}
